services:
  sedona:
    build:
      context: .
      dockerfile: Dockerfile
    image: fer/sedona:dev
    container_name: sedona

    volumes:
      - type: bind
        source: ../../
        target: /dev-root

      - type: volume
        source: sedona-opt
        target: /opt

      - type: bind
        source: ./docker-persist/.vscode-server
        target: /root/.vscode-server

      - type: bind
        source: ./docker-persist/.jupyter/lab/user-settings
        target: /root/.jupyter/lab/user-settings

    environment:
      - DRIVER_MEM=3G
      - EXECUTOR_MEM=500M

    ports:
      - 8888:8888
      - 8080:8080
      - 8081:8081
      - 4040:4040
      - 8085:8085

volumes:
  sedona-opt:
